@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="todoApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToDoList</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ToDoController.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
   
</head>
<body ng-controller="todoController" style="margin-left: 10px">
    <div ng-show="!editmode" style="height: 140px">
        <h3>Добавление новой записи</h3>
        Описание: <input type="text" ng-model="descToAdd" placeholder="Введите описание" size="{{textboxSize}}"ng-change="textboxSizing();" maxlength="119"/> <input type="button" value="Add"  ng-click="addOne();" />

    </div>
    <div ng-show="editmode"style="height: 140px">
        <h3>Редактирование записи</h3>
        <input type="hidden" ng-model="idToUpdate" />
        Описание: <input type="text" ng-model="descToUpdate" placeholder="Введите описание" size="{{textboxSize}}" ng-change="textboxSizing();" maxlength="119"/>
        <br />
        Дата создания: {{dateToUpdate}}
        <br />
        Выполнено: <input type="checkbox" ng-model="doneToUpdate" />
        <br />
        <input type="button" value="Принять изменения" ng-click="putOne();" style="margin-right: 10px" /><input type="button" value="Отменить редактирование" ng-click="putCancel();" />
     </div>
    <div>
        <hr />
       <!-- <input type="button" value="show" ng-click="getAll();" />-->
        <h3>Записи</h3>
        <table ng-init="getAll();">
            <tr>
                <td><p>Описание</p></td>
                <td><p>Дата создания</p></td>
                <td><p>Состояние</p></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          
                <tr ng-repeat="note in notes">
                    <td><p>{{note.Description}}</p></td>
                    <td><p>{{note.CreationTime}}</p></td>
                    <td><p ng-if="note.Done">Выполнено</p>
                    <p ng-if="!note.Done">Не завершено</p>
                    </td>
                    <td><input type="button" value="Редактировать" ng-click="editOne(note);"/></td>
                    <td><input type="button" value="Удалить" ng-click="deleteOne(note.Id);"></td>
                    <td><input ng-if="!note.Done" type="button" value="Пометить как завершенное" ng-click="endNote(note);" /></td>
                   
                </tr>

        </table>
        
        
    </div>
</body>
</html>