@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ToDo List";
}

<!DOCTYPE html>

<html ng-app="todoApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToDoList</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ToDoController.js"></script>
    <script src="~/Scripts/Interface.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
   
</head>
<body ng-controller="todoController" style="margin-left: 10px">
    <div ng-show="!editmode" style="height: 140px">
        <h3>Добавление новой записи</h3>
        Описание: <input type="text" ng-model="descToAdd" placeholder="Введите описание" style="width: 900px;" maxlength="119"/> <input type="button" value="Добавить"  ng-click="addOne();" />
    </div>
    <div ng-show="editmode"style="height: 140px">
        <h3>Редактирование записи</h3>
        <input type="hidden" ng-model="idToUpdate" />
        Описание: <input type="text" ng-model="descToUpdate" placeholder="Введите описание" style="width: 900px;" maxlength="119"/>
        <br />
        Дата создания: {{dateToUpdate}}
        <br />
        Выполнено: <input type="checkbox" ng-model="doneToUpdate" />
        <br />
        <input type="button" value="Принять изменения" ng-click="putOne();" style="margin-right: 10px" /><input type="button" value="Отменить редактирование" ng-click="putCancel();" />
     </div>
    <div>
        <hr />
       <!-- <input type="button" value="show" ng-click="getAll();" />-->
        <h3>Записи</h3>
        <table class="table table-striped" ng-init="getAll();">
            <thead>
            <tr>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Состояние</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in notes">
                    <td><p>{{note.Description}}</p></td>
                    <td><p>{{note.CreationTime}}</p></td>
                    <td><p><div ng-if="note.Done" class="label label-success">Выполнено</div></p>
                    <p><div ng-if="!note.Done" class=" label label-danger">Не завершено</div></p>
                    </td>
                    <td><input type="button" value="Редактировать" ng-click="editOne(note);"/></td>
                    <td><input type="button" value="Удалить" ng-click="deleteOne(note.Id);"></td>
                    <td><input ng-if="!note.Done" type="button" value="Пометить как завершенное" ng-click="endNote(note);" /></td>
                   
                </tr>
            </tbody>
        </table>
        
        
    </div>

</body>
</html>